.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

.feature-list__icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .feature-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}
