.card-content {
  padding: 10px 14px;
  border: 1px solid #eeeeee;
}

.card {
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-set__item:not(:last-child) {
  margin-bottom: 30px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--animation);
}

.card:hover .text-overlay {
  transform: translateX(0);
  opacity: 1;
}

.card-thumb-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  transition: opacity var(--animation);
  color: #ffffff;
}

.filter-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.filter-list-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    .item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 2 * 30) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    .item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 3 * 30) / 3);
    }
  }
}
